<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Profile</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet" >
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="height:10%;" >
        <a class="navbar-brand">
          <img src="/images/logo.png" width="80" height="25" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-  icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8083/business/dashboard">Dashboard </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8083/business/profile">Profile <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8083/business/itemlist">Menu</a><span class="sr-only">(current)</span></a>
              </li>
              <li class="notificaton">
                <a class="nav-link" href="#">Notification </a>
              </li>
            </ul>
            <span class="nav-item">
                <a class="nav-link" href="http://localhost:8083/logout">Sign Out </a>
            </span>
        </nav> 


        <div class="container">

                <form method="post" th:action="@{/business/update}" th:object="${business}">
                    <div class="row align-items-center"style="min-height: 80vh; width:100rem">    
                        <div class="row align-items-top"style="min-height: 50vh; width:100rem">
                            <div class="col-lg-7">
        
                                <h6 class="card-title" >Business Information</h6>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        
                                        <div class="row">
                                            <div class="col-sm-3"> <p class="mb-0">Business Name</p> </div>
                                            <div class="col-sm-8"><input type="text" th:field="*{businessName}"></td></div>
                                        </div>
                                        <hr>
        
                                        <div class="row">
                                            <div class="col-sm-3"> <p class="mb-0">Email</p> </div>
                                            <div class="col-sm-8"><input type="text" class ="form-control" th:field="*{email}" readonly = "readonly"></td></div>
                                        </div>
                                        <hr>
        
                                        <div class="row">
                                            <div class="col-sm-3"> <p class="mb-0">Contact Number</p> </div>
                                            <div class="col-sm-8"><input type="text" th:field="*{contactNumber}"></td></div>
                                        </div>
                                        <hr>
        
                                        <div class="row">
                                            <div class="col-sm-3"> <p class="mb-0">Address</p> </div>
                                            <div class="col-sm-8"><input type="text" th:field="*{address}"></td></div>
                                        </div>
                                        <hr>
        
                                        <div class="row">
                                            <div class="col-sm-3"> <p class="mb-0">Postal Code</p> </div>
                                            <div class="col-sm-8"><input type="text" th:field="*{postalCode}"></td></div>
                                        </div>
                                        <hr>
        
                                        <div class="row">
                                            <div class="col-sm-3"> <p class="mb-0">Opening Days</p> </div>
                                            <div class="col-sm-8">
                                                
                                                    <label style="margin-right:5px"> Mon <input type="checkbox" name="openingDays" id="monday" value="Monday" /> </label>
                                                                  <label style="margin-right:5px"> Tue <input type="checkbox" name="openingDays" value="Tuesday" /> </label>
                                                                  <label style="margin-right:5px"> Wed <input type="checkbox" name="openingDays" value="Wednesday" /> </label>
                                                                  <label style="margin-right:5px"> Thur <input type="checkbox" name="openingDays" value="Thursday" /> </label>
                                                                  <label style="margin-right:5px"> Fri <input type="checkbox" name="openingDays" value="Friday" /> </label>
                                                                  <label style="margin-right:5px"> Sat <input type="checkbox" name="openingDays" value="Saturday" /> </label>
                                                                  <label style="margin-right:5px"> Sun <input type="checkbox" name="openingDays" value="Sunday" /> </label> 
                                               
                                              </div>
                                        </div>
                                        <hr>
        
                                        <div class="row">
                                            <div class="col-sm-3"> <p class="mb-0">Opening Hours</p> </div>
                                            <div class="col-sm-8">
                                                <td><input type="time" th:field="*{openingTime}"></td>
                                                <td><input type="time" th:field="*{closingTime}"></td>
                                            </div>
                                        </div>

                                        <div class="row" >
                                            <input type="button" value="Change Password" onclick="changePassword();">
                                        </div>
                                        
                                        <script>
                                            function changePassword() {
                                                document.getElementById("passwordUpdateBox").style.display = "block";
                                            }
                                        </script>

                                        <div class="row" id="passwordUpdateBox" style="display: none;">
                                            <div class="col-sm-8"> 
                                                <td class="align-middle">
                                                    <input type="text" name="oldPassword" placeholder="Enter old Password">
                                                </td>
                                            </div>
                                            <div class="col-sm-8">
                                                <td class="align-middle">
                                                    <input type="text" name="newPassword" placeholder="Enter new Password">
                                                </td>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                            <div class="col-lg-4">
                                <td>
                                    <input class="btn btn-secondary" type="submit" value="Update Profile">
                                </td> 
                            </div>
                        </div>
                    </div>  
                </form>

            </div>
        </div>
    

    
    </div>    
</body>
</html>