<head>
  <title>Menu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet" >
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
  </head>


<body>
  <div class="bg-image" style=" background-image: url(../images/1.jpg); 
                                background-position: right; 
                                background-size:contain; 
                                background-repeat:no-repeat;">
                                
                                <nav class="navbar navbar-expand-lg navbar-light" style="height:10%; padding-bottom:0%; padding-top:0%;" >
                                  <a class="navbar-brand" href="http://localhost:8083/menu">
                                    <img src="/images/logo.png" width="80" height="25" alt="">
                                  </a>
                                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                  </button>
                                  <div class="collapse navbar-collapse" id="navbarText">
                                      <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active" style="padding-right:2rem; padding-left:2rem; font-size:15px;">
                                          <a class="nav-link" href="#">About Us</a>
                                        </li>
                                        
                                        <li class="nav-item active" style="font-size:15px;">
                                          <a class="nav-link" href="#">Contact Us</a>
                                        </li>
                                      </ul>
                                      <span class="nav-item">
                                          <a class="btn btn-outline-dark btn-sm" href="http://localhost:8083/login">Sign In</a>
                                      </span>
                                  </nav> 
                              
  

    <div class="container">

      <div class="row align-items-center" style="min-height: 90%;">
        <div class="col-md-12 text-left">
            
            <h3 class="font-weight-bold" style="color:forestgreen; ">Why Do We Use FOODSHARE?</h3>
        </br>
            <div class="text-sm" style="width:23rem; font-size:12px;">
            <p> FoodShare is an app which bridges between 
                Residents-in-need and Businesses as well as 
                households who want to share their surplus foods.
                We encourage people to make our society better 
                by sharing foods with love and by
                reducing food-waste in our environment.   
            </p>   
            </div>
          </br>

            <a href="http://localhost:8083/register" class="btn btn-warning" role="button" style="color:white;">For Businesses</a>
            <a href="http://localhost:8083/menu" class="btn btn-warning" role="button" style="color:white;">For Individuals</a>
        </div>
      </div>
    </div>
  
  </div>

</body>

</html>